/* Cabeçalho Geral */
.cabecalho {
  display: grid;
  grid-template-columns: 1f 1fr 1fr auto;
  grid-template-rows:(3, 1fr);
  height: 180px;
  padding-top: 5px;

  background-color: #067ee0;
  color: white;
  font-size: 1.2rem;
}
/* Fim do cabeçalho */

/* Busca no site */
.container-busca {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-texto {
  background-color: #f5f6fa;
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 15px 50px 15px 30px;
  border-radius: 20px;
  width: 100% ;
  height: 42px;
  font-weight: 300;
  color: #8795a2;
}
.btn-busca {
  width: 20px ;
  height: 22px;
  background: url('../assets//buscar.png') no-repeat;
  cursor: pointer ;
  border: none;
  transform: translateY(-50%);
  padding: 0;
  position: relative;
  top: -20px;
  left: 200px;
}
/* Fim busca no site */
/* Avatar */
.avatar {
  display: flex;
  align-items: flex-end;
  grid-column: 1 / 4;
  grid-row: 1/ 4;
  img{
    width: 150px;
  }  
}
/* Fim avatar */
/* Navegação do topo */
.nav-top{
  grid-column: 2/5;
  grid-row: 1/3;
}
/* Fim navegação do topo */
/* Navegação central */
.nav-center {
  display: flex;
  align-items: center;
  grid-column: 2/5;
  grid-row: 2/3;
  img{
    width: 150px;
  }
  .login{
    text-align: center;
  }
}
 .login, .cadastrar button {
   background-color: #e4ce0a;
   border: 1px solid white;
   color: #201f1f;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   width: 100px;
 }
.cadastrar, .login{
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 5px;
  img{
    width: 20px;
  }
}



/* Fim da navegação central */
/* Navegação de baixo */
.nav-bottom {
  grid-column: 2/5;
  grid-row: 3/4;
}
/* Fim da navegação de baixo */
/* Itens gerais de listas */
.nav-items{
  display: flex;
  justify-content: space-around;
}
/* Fim de itens gerais de listas */
/* Icones react */
.icons-react{
  gap: 10px;
  cursor: pointer;
}
/* Fim icones react */

@media(max-width: 768px){
  .nav-top{
    display: none;
  }
  .container-busca{
    display: none;
  }
  .avatar{
    display: none;
  }
  .nav-bottom{
    display: none;
  }
  .oferta-regiao, .icons-react{
    display: none;
  }
  .nav-center{
    display: flex;
    flex-direction: column;
    .logo{
      width: 100%;
    }
  }

}
  