.card{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card img{
    border-radius: 10%;
}
.card h3{
    font-size: 1.4rem;
    font-weight: 300;
}
.card p {
    font-size: 1.2rem;
}
.card .card-preco{
    width: 100px;
    border-radius: 20px;
    background-color: #067ee0;
}